body {
    /*background-image: url('../images/main.jpg');*/
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 50px;
    color: deepskyblue;
}

.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
}

body > .el-container {
    margin-bottom: 40px;
}

.headers-form {
    display: flex;
    flex-direction: column;
}

.el-form-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-form-item__content {
    display: flex;
}

.field-name {
    width: 500px;
}

.field-length {
    width: 200px;
}
